*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

a{
    color:#11999e;
    text-decoration: none;
    font-family:'Montserrat', sans-serif;
    margin:2rem;
}
a:hover{
    color:#eaf6f6
}
body{
    margin:0;
    text-align:center;
    font-family:'Merriweather',serif;
    color:#40514E;
}
.contact-me{
    width:50%;
    margin:auto 25% auto 25%;
    line-height:2;
}
h1{
    margin:3.125rem auto 0 auto;
    font-family:'Sacramento',cursive;
    font-size:5.625rem;
    color: #66bfbf ;
}
h2{
    font-family:'Montserrat',sans-serif;
    font-size:2.5rem;
    margin-top:0;
    color: #66bfbf;
    font-weight:normal;
}
h3{
    font-family:'Montserrat',sans-serif;
    color: #11999e;
}
hr{
    color:lightblue;
    width:7%;
    border-style: none;
    border-top:dotted;
    border-width:12px;
    margin:20px auto;
    
}
.myprofile{
    height:12rem;
    width:12rem;
}
.skills-img1{
    height:25%;
    width:25%;
    float:left;
    padding:30px;
}
.skills-img2{
    height:25%;
    width:25%;
    float:right;
    padding:30px;
}
.top-container{
    background-color:#E4F9f5;
    height:50%;
    position:relative;
    padding:6.25rem;
}
.middle-container{
    background-color:#F7F5EB;
    padding:3.125rem;
}

.Projects{
    background-color: #E4F9f5;
    padding:3.125rem;
}

.project-row{
    margin:auto 25%;
}

.project-item{
    line-height:2;
    text-align: left;
    padding:auto 25%;
    margin-bottom:15px;
}
.bottom-container{
    background-color:#66bfbf;
    padding-top:20px;
}
.bottom-cloud{
    position:absolute;
    left:15%;
   top:40%;
}
.top-cloud{
    position:absolute;
    right:15%;
}
.skill-row{
    text-align:left;
    padding:3% 25%;
    line-height:2;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    line-height:3;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .footer-name{
    color:#eaf6f6;
    padding:10px;
    margin-bottom:0rem;
    font-size:0.75rem;
   
  }
  .profile{
    width:50%;
    margin:auto 25%;
    line-height:1.5;
  }

  @media only screen and (max-width: 730px) {
    .mountain{
        width:400px;
    }
    .bottom-cloud{
        left:5%;
    }
  }

  li{
    list-style: none;
  }

  @media only screen and (max-width: 550px) {
    .mountain{
        width:250px;
    }

    .middle-container{
        padding:1.5rem;
    }

    .profile{
        width:90%;
        margin:10%;
    }

    .Projects{
        padding:1.5rem;
    }

    .skill-row{
        padding:10%;
    }

    .contact-me{
        margin:10%;
        width:80%;
    }

    .contact{
        margin:1.5rem;
    }

    .project-row{
        margin:10%;
    }
  }

  @media only screen and (max-width: 370px) {
    .top-container{
        padding:3rem;
    }

    .mountain{
        width: 150px;
    }
    h1{
        font-size: 3rem;
    }

    #description{
        font-size:1.5rem;
    }

    .bottom-cloud{
        left:-15%;
    }
    .top-cloud{
        right:0;
    }

    .btn{
        font-size:0.8rem;
    }

    .myprofile{
        height:10rem;
        width:10rem;
    }

    .contact-me .btn{
        font-size: 0.7rem;
    }

    
  }


@media only screen and (max-width: 285px) {
    .btn{
        font-size:0.6rem;
    }

    .contact-me .btn{
        font-size: 0.5rem;
    }
  }

  @media only screen and (max-width: 263px) {
    .btn{
        font-size:0.5rem;
    }

    .contact-me .btn{
        font-size: 0.4rem;
    }
  }
  